.bannerLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    padding: 5px;
}
.sectionContent{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}
.transferBtn{
    background-color: #FF5F1F;
    color: #FFF;
}
.nonUrgentTag{
    background-color:rgb(167, 240, 186);
    color:rgb(14, 96, 39);
}
.emergencyTag{
    background-color:rgb(255, 215, 217);
    color:rgb(162, 25, 31);
}
.priorityTag{
    background-color:rgb(248,237,98);
    color:brown;
}