.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

.card {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    flex: 1 1 calc(20% - 1rem);
  }
}

@media (max-width: 1024px) {
  .container .card {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 600px) {
  .container .card {
    flex: 1 1 100%;
  }
}


h4 {
    font-weight: bold;
}

.dropdownItem {
    display: flex;
    justify-self: flex-end;
    width: 25%; 
    min-width: 180px; 
    max-width: 280px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.dropdownContainer {
  .cds--list-box__menu-item__option {
    font-weight: 600; 
  }

  .cds--list-box__field {
    font-weight: 600; 
  }
}

.opd {
    background-color: #2B579A !important;
}
.completed {
    background-color: #4CAF50 !important;
}

.uncompleted {
    background-color: #FFC107 !important;
}
.emergencies {
    background-color: lightcoral !important;
}

.waitingTime {
    background-color: lightblue !important;
}

.text {
  color: white
}